@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700);

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

header div.cover {
	background-color: #e3234a;
	padding: 3em;
}

header div.cover h1 {
	margin: 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-align: center;
	font-size: 4em;
	color: #fff;
}

section#main-content {
    float: left;
    position: relative;
}

section#main-content .ribbon {
	position: relative;
	/*top: -50px;*/
	z-index: 500;

	max-width: 50%;
	margin: 0 auto 0 auto;

	-webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);

	text-align: center;
}

section#main-content .ribbon .ribbon__content {
	display: block;
	padding: 1em 1em;
	margin: 0 auto;

	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

section#main-content .ribbon img {
	position: absolute;
	height: 100%;
	top: 50%;
	left: 0;
	z-index: -1;
	-webkit-transform: translate(-60%, -45%);
       -moz-transform: translate(-60%, -45%);
        -ms-transform: translate(-60%, -45%);
         -o-transform: translate(-60%, -45%);
            transform: translate(-60%, -45%);
}

section#main-content .ribbon img:last-of-type {
	left: auto;
	right: 0;
	-webkit-transform: translate(60%, -45%);
       -moz-transform: translate(60%, -45%);
        -ms-transform: translate(60%, -45%);
         -o-transform: translate(60%, -45%);
            transform: translate(60%, -45%);
}

.pagewrapper {
	width: 100%;
	padding: 20px;
    overflow-x: h;
    float: left;
}

.pagewrapper > div {
	float: left;
}

.pagewrapper .menu {
	width: 35%;
}

.menu {
	padding-left: 20px;
	color: #fff;
}

.menu__title {
	text-transform: uppercase;
	text-align: center;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-bottom: 2px solid #e3234a;
}

.menu p {
    padding: 15px 0 0 17px;
    max-width: 700px;
    font-family: "Open Sans";
}

.menu img {
	width: 100%;
}

.menu ul {
	margin-top: 10px;
	list-style-type: none;
	padding: 0 15px;
    float: left;
}

.menu ul li {
	cursor: pointer !important;
	float: left;
	margin: 3px;
}

.menu .result {
	float: left;
	clear: both;

	width: 100%;
	margin-top: 20px;
	padding: 10px;

	background-color: #fff;
	color: #e3234a;
}

.menu .result .name {
	font-family: 'Open Sans';
	font-size: 3em;
	font-weight: 700;
	color: #fff;
	-webkit-text-stroke: 2px #e3234a;
	        text-stroke: 2px #e3234a;
}

.pagewrapper .isotop, .pagewrapper .left {
	width: 65%;
}

.pages h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	letter-spacing: -1px;
	display: block;
	text-align: center;
	background-color: #fff;
	margin-top: .5em;
}

.pages {
	display: block;
	float: left;

	width: 12%;
	max-width: 125px;

    margin-bottom: 5px;

    opacity: 1;

    cursor: pointer;

	-moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    transform-style: preserve-3d;
}

.pages img {
	width: 100%;
	height: auto;
}

/* Utils */

.hidden {
	display: none;
}

em {
	font-style: italic;
}

.fadedout {
    opacity: .8;
}

.btn {
	border: 1px solid #e3234a;
    border-radius: 0;

	color: #e3234a;
	background-color: #fff;
	font-family: "Open Sans";

    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;

    padding: 6px;
}

.btn:hover {
	color: #fff;
	background-color: #e3234a;
}

.btn.yes, .btn.no {
	cursor: not-allowed;
}

.btn.yes {
	color: #fff;
	background-color: #e3234a;
}

.btn.no {
	opacity: .5;
}

.navigation {
    display: none;
}

.mobile {
    display: none;
}

.ngdialog .btn {
    padding: 5px;
}

.ngdialog .btn:hover {
    color: #e3234a;
    background-color: #fff;
    border: 2px solid #e3234a;
}

.ngdialog h2 {
    text-align: center;
    font-family: "Trade Gothic Bold Cond";
    font-size: 2em;
}

.response {
    pointer-events: none;
    width: 75%;
    height: auto;
    display: block;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    opacity: 0;
    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;
}

.response img {
    width: 100%;
}

.credits {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #888;
    font-family: "Open Sans";
    font-size: .7em;
}

@media (max-width: 960px) {
    .response {
        top: 0;
    }

    .pagewrapper .isotope, .pagewrapper .menu {
        width: 100%;
        position: relative;
    }

    .pagewrapper .menu {
        padding-right: 0;
    }

    .pagewrapper > div {
        float: left;
        clear: both;
    }

    .menu {
        text-align: center;
    }

    .menu img {
        width: 60%;
    }

    .menu p {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

    .menu ul {
        width: 2000px;
        margin-bottom: 10px;
        position: relative;
        padding-left: 0;
        left: 0;
    }

    .pages {
        width: 23%;
    }

    .gutter {
        width: 2.6%;
    }

    .navigation {
        display: block;
        position: absolute;
        background-color: #e3234a;
        padding: 25px 5px;
        bottom: 10px;
        cursor: pointer;
    }

    .navigation.left {
        left: -20px;
    }

    .navigation.right {
        right: -20px;
    }

    .mobile {
        display: block;
    }

    .nomobile {
        display: none;
    }
}
