<h2>Bravo !</h2>
<p class="img" style="background-image: url(data/pictures/photos/{{ ngDialogData.picture }}.png)">
    <img src="data/pictures/gagne.svg">
</p>
<br />
<p>C'est bien {{ ngDialogData.name }} que vous deviez trouver. {{ ngDialogData.pronoun }} est {{ ngDialogData.post }}. Vous l'avez trouvé{{ ngDialogData.e }} en {{ ngDialogData.n }} question{{ ngDialogData.n > 1 ? 's' : '' }}. </p>
<br />
<button type="button" class="btn" ng-click="tweet(true)"><i class="fa fa-twitter"></i> Tweet</button>
<button type="button" class="btn" ng-click="reload()">Recommencer</button>
